.grid {
    height: 95vh;
    width: 95vh;
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    margin: 0 auto;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.col {
    flex: 1 1 auto;
}

.dimensionSelector {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}